.App {
    font-family: sans-serif;
    background-color: #994343; /* set the background color */
    /* background-image: url('path/to/image.jpg'); set the background image */
    background-size: cover; /* set the image size */
  }
  